.title {
  margin: 0 40px;
  padding-top: 30px;
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  color: #888888;
}

.form {
  margin: 20px 40px;
  display: flex;
}

.form input {
  flex: 1;
  margin-right: 35px;
}

.form select {
  flex: 0.5;
  margin-right: 35px;
}

.form input,
.form select {
  padding: 11px 15px;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: -0.15px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  outline: none;
}

.form button {
  flex: 0.4;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  transition: opacity 250ms ease-in-out;
}

.form button:hover {
  opacity: 0.8;
}
